@media (min-width: 600px) {
	body {
		background-color: #F7E7CE;
		height: 100%;
		width: 100vw;
		margin: 0;
		font-family: "Lato", sans-serif;
	}
	
	header {
		display: flex;
    	flex-direction: column;
	}

	.top img {
		margin-left: 15vw; 
		margin-right: 5vw; 
		box-shadow: 2px 2px 2px rgba(247, 231, 206, 0.5);
	}
	
	.top span {
		font-size: 3rem; 
		font-weight: bolder; 
		flex-grow: 1;
	}
	
	#menu {
		display: none; /* hide hamburger button */
	}

	.navigation{
		display: flex;
    	height: auto; 
		position: relative;
		top: 5px; 
	}

	.navigation ul {
		display: flex;
		justify-content: space-around;
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.navigation li {
		display: inline-block;
	}

	.navigation a {
		color: white;
		text-decoration: none;
		font-size: 1.5rem;
		padding: 5px 5px;
		display: block; 
	}

	main {
		flex: 1;
		padding: 0.5vw;
		display: flex;
        flex-direction: column;
	}

	h1 {
		color: black;
		font-size: 2rem;
		text-align: left;
	}
	
	h2 {
		color:white;
		background-color: #800000;
		height: 2.5vw;
		font-size: 2vw;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
    .top-section {
        display: flex;
        justify-content:center;
        gap: 3vw;
        width: 100%;
        max-width: 1500px;
		margin: 0 auto;
    }

    .top-section section {
        flex: 1;
        background-color: white;
		height: 14vw;
		border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    }


	/*ul {
		padding-left: 20px; 
	}
	
	li {
		list-style: disc inside; 
	}*/

	figure {
		display: flex;
		flex-direction: column; 
		align-items: center; 
		text-align: center; 
		max-width: 100%; 
	}

	.images img {
        width: 50%;
		padding: 0.5vw;
        height: 10vw;
        border-radius: 10px;
    }

    .course-list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 10px;
		padding: 1vw;
	  }
	  
	.certificate-container {
		margin: 2rem auto; 
		background-color: #fff;
		border: 1px solid #ccc;
		text-align: center;
		width: 80%;
	}
		  
}
