* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #F7E7CE;
	width: 100vw;
	min-height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
	font-family: "Lato", sans-serif;
	min-height: 100vh;
	transition: margin-top 0.3s ease-in-out;
}

header {
    background-color: #800000;
    color: white;
    padding: 10px;
}
.top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.top img {
	width: 80px; 
  	height: auto;
    box-shadow: 2px 2px 2px rgba(247, 231, 206, 0.5);
}

.top span {
    font-size: 1.5rem;
    font-weight: bold;
    flex-grow: 1;
	margin-left: 10px;
	
}

h1 {
	color: black;
	font-size: 1.5rem;
	text-align: center;
}

h2 {
	color:white;
	background-color: #800000;
	height: 4vw;
	font-size: 3vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

#menu {
	font-size: 3rem;
	border: none;
	background: none;
	color: #F7E7CE;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❌";
}

.navigation {
	display: none; 
	flex-direction: column;
	position: absolute;
	left: 0;
	width: 100%;
	background-color:black;
	top: 130px; 
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}

.navigation a {
	display: block;
	padding: 2px;
	text-align: center;
	color: white;
	text-decoration: none;
	font-size: 1rem;
}

.navigation a:hover {
	background-color: #333;
	color: #F7E7CE;
}

.navigation.open {
	display: flex; 
	height: 90px;
}
/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}

.active::before { 
	content: "⚽";  /* just a wayfinding symbol for the user */
}

main {
    transition: margin-top 0.3s ease-in-out;
	flex: 1;
}

.top-section {
	display: block;
	justify-content:center;
	gap: 3vw;
	width: 100%;
	max-width: 100%;
	padding: 10px;
}

.top-section section {
	width: 100%;
	flex: 1;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
	margin-bottom: 10px;
}

ul {
	padding-left: 20px; 
}

li {
	list-style: disc inside; 
}

figure {
	display: flex;
	flex-direction: column; 
	align-items: center; 
	text-align: center; 
	max-width: 100%; 
}

.images img {
	max-width:100%;
	padding: 0.5vw;
}

.certificate-container {
	width: 100%;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
	text-align: center;
  }
  
  .buttons {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
	margin-bottom: 10px;
  }
  
  .buttons button {
	padding: 8px 12px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
  }
  .buttons button:hover {
	background-color: #800000;
  }
  
  .course-list {
	display: flex;
	flex-direction: column;
	gap: 10px;

  }
  
  .course-card {
	padding: 10px;
    border: 1px solid #ccc;
    background-color: white;
    font-weight: bold;
    text-align: center;
  }
  
  .course-card.completed {
	background-color: #0E5A5E; 
	border-color: black;
	color: white;
  }
  
  .total-credits {
	font-weight: bold;
	font-size: 1.2rem;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
  }

footer {
    background-color: #800000; 
    color: white; 
    text-align: center;
    padding: 10px;
    width: 100vw;
    max-width: 100%;
}
